<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TcheOrganiza"
        tools:targetApi="31">

        <activity
            android:name=".StartingPageActivity"
            android:exported="true"
            android:label="Bem vindo(a)">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewProfessorActivity"
            android:exported="false"
            android:label="Adicionar professores"
            android:parentActivityName=".StartingPageActivity" />
        <activity
            android:name=".NewClassActivity"
            android:exported="false"
            android:label="Adicionar disciplinas"
            android:parentActivityName=".NewProfessorActivity" />
        <activity
            android:name=".NewTaskActivity"
            android:exported="false"
            android:label="Adicionar atividades"
            android:parentActivityName=".NewClassActivity" />
        <activity
            android:name=".PreferenceRuActivity"
            android:exported="false"
            android:label="RU preferido"
            android:parentActivityName=".NewTaskActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ui.disciplinas.AddClassActivity"
            android:exported="false"
            android:label="Adicionar nova disciplina"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.tasks.AddTasksActivity"
            android:exported="false"
            android:label="Adicionar nova atividade"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.professor.AddProfessorActivity"
            android:exported="false"
            android:label="Adicionar novo professor"
            android:parentActivityName=".ui.disciplinas.AddClassActivity" />
        <activity
            android:name=".ui.ticketru.RegisterTicket"
            android:exported="false"
            android:label="Registrar novo ticket"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>